/* ESTILOS BÁSICOS DEL CUERPO */
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    min-width: 320px;
}

/* ESPACIADO DEL NAV */
nav {
    right: 40px;
}

/* COLOR DEL TEXTO EN NAVBAR */
nav li a {
    color: white !important;
}

/* DISTINTIVOS DE HOVER/FOCUS */
nav li a:hover,
nav li a:focus {
    color: firebrick !important;
    font-size: 1.2rem;
    font-weight: 700 !important
}

/* ESTILO BOTÓN BÁSICO */
.btn-round-black {
    color: white;
    padding: .25em 2em !important;
    background: black;
    border: solid white .5px;
    border-radius: 50px;
}

/* MODIFICACIÓN DE BOTÓN BÁSICO PARA MOBILE*/
li a.btn-round-black {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-left: 0 !important;
}

h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}

/* ESTILO PARA PRIMER BLOQUE */
.first-section {
    background-image: url('../img/bg-1-black.jpg');
    height: 550px;
    object-fit: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* ESTILO GENÉRICO PARA FONDO ROJO */
.bg-red {
    background: firebrick;
    padding: .5em 0;
}

/* ESTILO GENÉRICO PARA TEXTO ROJO Y BOLD */
.red-text {
    color: firebrick;
    font-weight: 1000;
}

/* DISTINTIVOS DE HOVER/FOCUS PARA BOTÓN BÁSICO */
.btn-round-black:hover,
.btn-round-black:focus {
    opacity: .7;
    font-weight: 700;
    color: black !important;
    background: white;
    border: solid firebrick .7px;
}

/* OCULTAR GUITARRISTAS PARA MOBILE */
.player-container {
    display: none;
}

/* ESTILO GENÉRICO PARA IMAGEN DE GUITARRISTAS */
.player-container img {
    height: 300px;
    max-width: 150px;
    margin-left: 4.5em;
}

/* ESTILO PARA CONTENEDOR DE BLOQUE DE NOTICIAS */
.news-container,
.events-container {
    padding-top: 5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: white;
}

/* ESTILO GENÉRICO PARA TEXTO BOLD */
.bold-text {
    font-weight: 700;
}

/* ESTILO GENÉRICO PARA TEXTO LIGHT */
.light-text {
    opacity: .4;
}

/* ESPACIADO PARA LA FECHA EN BLOQUE DE NOTICIAS */
#date {
    padding-left: .675em;
}

/* ESTILO PARA TEXTO DE BLOQUE DE NOTICIAS */
.news-text {
    text-align: center;
    padding: 1em 2em !important;
}

/* ESTILO PARA TERCER BLOQUE */
.third-section {
    background-image: url('../img/bg-slider.jpg');
    height: auto;
    max-height: 245px;
    object-fit: cover;
    background-position: center;
}

/* ESTILO PARA REPETIR FONDO EN SLIDER */
.bg-repeat {
    background-image: url('../img/bg-slider.jpg');
    padding: 1em !important;
}

/* CLASE ORIGINAL DEL PLUGIN MODIFICADA */
.bx-wrapper {
   opacity: .65 !important;
}

/* ESTILO DE ALBUM/BLOQUE INDIVIDUAL DENTRO DEL SLIDER */
.album {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

/* ESPACIADO PARA BLOQUE INDIVIDUAL DE EVENTO */
.event {
    margin: 1.25em 0em;
}

/* ESPACIADO PARA TEXTO DE EVENTO */
.event p {
    margin: 0;
}

/* ESPACIADO PARA CONTENEDOR PRINCIPAL DE LISTA DE EVENTOS */
.events-container {
    padding-bottom: 1.125em;
}

/* ESTILOS PARA EL ÚLTIMO BLOQUE */
.fifth-section {
        background-image: url('../img/bg-5.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 350px;
        justify-content: center;
}

/* ESTILO PARA CONTENEDOR DE INFO SOBRE LA BANDA */
.band {
    width: 90%;
    color: white;
    margin: 2em 4em !important;
    text-align: center;
}

/* ESTILO BASE DE FOOTER */
.footer-container {
    color: white;
    display: flex;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ESTILO DE LISTA DE ÍCONOS */
.footer-icons {
    display: flex;
    justify-content: space-evenly;
    align-content: top;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ESTILO DE ÍCONO */
i {
    color: white;
    padding-right: 1em;
}

/* DIFERENCIADOR PARA ÍCONOS HOVER/FOCUS */
i:hover,
i:focus {
    color: grey;
}

/* PRIMER BREAKPOINT */
@media (min-width:475px) {

    .fifth-section {
        justify-content: flex-end;
    }

    .band {
        width: 40%;
        text-align: right;
     }

     .footer-container {
         flex-direction: row;
     }

     .social {
        padding-right: 1.5em;
        display: flex;
        align-items: center;
    }

    .social h6 {
        margin: auto 0;
    }

     .footer-icons {
        align-items: center !important;
     }
}

/* SEGUNDO BREAKPOINT */
@media (min-width:768px) {
    
    .first-section {
        align-items: flex-start;
        background-position: left;
    }

    .logo-container {
         padding: 5em 3em 1em 3em !important;
    }

    .tour-container {
        padding-left: 5%;
    }

    .margin-left {
        margin-left: 5em;
    }

    li a.btn-round-black {
        color: white;
        padding: .15em 1.5em !important;
        background: black;
        border: solid white .5px;
        border-radius: 50px;
    }

    .player-container {
        display: flex;
        align-items: center;
        padding: 1.5em !important;
    }
    
    #date {
        padding-left: 1em;
    }

    .news-container,
    .events-container {
        width: 70%;
        margin: 0 auto;
        align-items: flex-start;
    }

    .news-text {
        line-height: 1.6;
        padding: 0 !important;
        text-align: left;
    }

    .third-section {
        max-height: 200px;
    }

    .album {
        width: 30%;
     }

     .fifith-section {
        background-size: 100% 100%;
        height: 550px;
        object-fit: cover;
     }
}